
body
{
    width:95%;
    margin: 0 2.5% 0 2.5%;
    font-family: "Roboto", Arial, Verdana, sans-serif;
    
}

/* MISE EN FORME DU HEADER */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul
{
    list-style-type: none;
    display: flex;
}

header nav ul li
{
    padding-left: 30px;
}

header a 
{
    text-decoration: none;
    color:black;
}

/* MISE EN FORME DU CORPS DE PAGE */

/* Bannière */
#banner{
    position: relative;
}

#banner__image{
    height: 450px;
    width: 100%;
    object-fit: cover;
    
}

#banner__content{
    position:absolute;
    top:0;
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner__content img{
    height:60px;
}

#banner h1{
    color:white;
    font-weight: 500;
}

/* Section centrale*/
#main_section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#presentation
{
    width:800px;
    color:rgb(87,87,87);
    font-size: 1.4em;
    margin:30px 0 30px 0;
    padding:30px 0px 30px 0px;
    text-align: center;
}

article h2
{
    font-size: 1.32em;
    font-weight: 400;
    text-transform: uppercase;
}

#piliers
{
    display: flex;
    width:800px;
}

#main_section p
{
    font-size: 0.8em;
    text-align: center;
}

article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
}

/*Témoignagne client*/
blockquote
{
    width:600px;
    font-size: 1.55em;
    color: rgb(87,87,87);
    margin:50px 0 21px 0;
}

blockquote p
{
    margin:0;
    text-align: center;
}

figcaption
{
    color: rgb(87,87,87);
    margin-bottom: 16px;
}

/*FOOTER*/

footer
{
    background-color:#5b359d;
    padding-top: 18px;
    color: white;
}

footer h2
{
    font-size: 0.7em;
    text-align: center;
    font-weight: 500;
}

#socials
{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, .6);
    margin-top: 9.96px;
}

#socials i
{
    padding: 0 40px 0 40px;
    font-size: 30.4px;
}

#footer_content
{
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
}

footer h3
{
    color: rgba(255, 255, 255, .6);
    font-size: 1.0em;
    font-weight: normal;
}
