@font-face {
    font-family: 'robotoregular';
    src: url('polices/Roboto-Regular-webfont.eot');
    src: url('polices/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Regular-webfont.woff2') format('woff2'),
         url('polices/Roboto-Regular-webfont.woff') format('woff'),
         url('polices/Roboto-Regular-webfont.ttf') format('truetype'),
         url('polices/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: "robotoregular", Arial, Verdana, sans-serif;
}

/* MISE EN FORME DU HEADER */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav ul li
{
    padding-left: 30px;
}

a 
{
    text-decoration: none;
    color:black;
}

/* MISE EN FORME DU CORPS DE PAGE */

/* Bannière */
#banniere
{
    background-image: url("images/backgroung_image.jpg");
    height:450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#banniere img
{
    width:200px;
    display: block;
}

/* Section centrale*/
#main_section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#main_section #presentation p
{
    width:800px;
    color:rgb(87,87,87);
    font-size: 1.4em;
    margin:30px 0 30px 0;
    padding:30px 0px 30px 0px;
    text-align: center;
}

article h2
{
    font-size: 1.32em;
    font-weight: 400;
    text-transform: uppercase;
}

#piliers
{
    display: flex;
    width:800px;
}

#main_section p
{
    font-size: 0.8em;
    text-align: center;
}

article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
}

/*Témoignagne client*/
blockquote
{
    width:600px;
    font-size: 1.55em;
    color: rgb(87,87,87);
    margin:50px 0 21px 0;
}

blockquote p
{
    margin:0;
    text-align: center;
}

figcaption
{
    color: rgb(87,87,87);
}




